.widget {
  &__temp {
    font-size: 150px;
  }
}

@media (max-width: 477px) {
  .widget {
    &__temp {
      font-size: 100px;
    }
  }
}
@media (max-width: 363px) {
  .widget {
    &__temp {
      font-size: 80px;
    }
  }
}
